<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/BackLayout"><!-- layout文件路径-->
<head>
<title>Yooni</title>
</head>
<body>
	<div layout:fragment="contents">
		<div class="am-panel am-panel-primary">
			<div class="am-panel-hd">任务情况</div>
		  	<div class="am-panel-bd">
				<div class="am-g am-g-fixed">
				  <div class="am-u-sm-5" style="border:2px solid #3399cc;">
				  	<h3 align="center">待审批项</h3> 
				  	<p align="center">10</p> 
				  </div>
				  <div class="am-u-sm-5" style="border:2px solid #3399cc;">
				  	<h3 align="center">待审批项</h3> 
				  	<p align="center">10</p> 
				  </div>
				</div>
				<div class="am-nav-divider"></div>
				<div class="am-cf" style="font-size:1.5em;margin:20px;padding:20px;background-color:#2B6FD5;color:white;">
					<span class="am-fl">今日发帖量</span>
					<span class="am-fr">100</span>
				</div>
				<div class="am-cf" style="font-size:1.5em;margin:20px;padding:20px;background-color:#2B6FD5;color:white;">
					<span class="am-fl">今日发帖量</span>
					<span class="am-fr">100</span>
				</div>
				<div class="am-cf" style="font-size:1.5em;margin:20px;padding:20px;background-color:#2B6FD5;color:white;">
					<span class="am-fl">今日发帖量</span>
					<span class="am-fr">100</span>
				</div>
		  	</div>
		</div>
	</div>
</body>
</html>