<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/topLayout"><!-- layout文件路径-->
<head>
<title>Yooni</title>
</head>
<body>

<div layout:fragment="content">
	<div class="get">
	  <div class="am-g">
	    <div class="am-u-lg-12">
	      <h1 class="get-title">Yooni - 不再孤单 有你就好</h1>
	      <p>
	        	期待你的参与，让生活充满欢声笑语
	      </p>
	    </div>
	  </div>
	</div>
	
	<div class="detail">
	  <div class="am-g am-container">
	    <div class="am-u-lg-12">
	      <h2 class="detail-h2">在陌生的城市，期待遇到一个不陌生的你!</h2>
	
	      <div class="am-g">
	        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
	
	          <h3 class="detail-h3">
	            <i class="am-icon-mobile am-icon-sm"></i>
	            	为移动而生
	          </h3>
	
	          <p class="detail-p">
	            	拉拉手指，发现你附件的人，或许你们近在咫尺更用友相同爱好却无缘相见
	          </p>
	        </div>
	        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
	          <h3 class="detail-h3">
	            <i class="am-icon-cogs am-icon-sm"></i>
	           		吃东西我有我的口味
	          </h3>
	
	          <p class="detail-p">
	            	可能你有你独特的口味和想吃的东西，但你平时都是尽量的去平衡照顾其他人，为什么不找个口味相投的人去一起去吃自己想吃的东西呢？
	          </p>
	        </div>
	        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
	          <h3 class="detail-h3">
	            <i class="am-icon-check-square-o am-icon-sm"></i>
	            	想玩不愁找不到人
	          </h3>
	
	          <p class="detail-p">
	            	你真的觉得每天几把王者局几把吃鸡让你很快乐？你是否很想来一局狼人杀、三国杀、UNO却找不齐人？想出去轮滑、骑行、玩滑板却没有小伙伴陪伴？来这里和志同道合的有趣人们一起玩耍吧
	          </p>
	        </div>
	        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
	          <h3 class="detail-h3">
	            <i class="am-icon-send-o am-icon-sm"></i>
	          		专属定制，多交朋友
	          </h3>
	
	          <p class="detail-p">
	            	网络不应该是让你拒绝线下交友的借口，多交朋友、多和谈的来的人们一起玩耍，世界其实很精彩。而你每一天都可以如此精彩
	          </p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="hope">
	  <div class="am-g am-container">
	    <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 hope-img">
	      <img src="i/examples/landing.png" alt="" data-am-scrollspy="{animation:'slide-left', repeat: false}">
	      <hr class="am-article-divider am-show-sm-only hope-hr">
	    </div>
	    <div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
	      <h2 class="hope-title">同我们一起打造一个好玩的社区</h2>
	
	      <p>
	        	在互联网时代，我们不应成为互联网的牺牲品，关掉直播，退出排位，来一起打造一个专属而又有趣的圈子吧
	      </p>
	    </div>
	  </div>
	</div>
	
	<div class="about">
	  <div class="am-g am-container">
	    <div class="am-u-lg-12">
	      <h2 class="about-title about-color">Yooni 崇尚开放、自由，非常欢迎大家的参与</h2>
	    </div>
	  </div>
	</div>
</div>

</body>

</html>